//
  Built with love by CJ Burkey:
      - Website: https://cjburkey.com/
      - Twitter: @ontaironto
      - Email:   bulletlang@gmail.com

doctype html
html.h-100(lang='en')
  head
    include template/meta

    link(rel='stylesheet' href='/static/css/bootstrap.min.css')/

    title Cabarrus Pets Society

  body.d-flex.flex-column.h-100
    include template/nav
    
    main.flex-shrink-0(style='margin-top: 70px')
      .container
        h2 Hello world!
    
    include template/footer
    
    include template/scripts
