.dog-list-item {
    background-color: #e9e9e9;
}

.dog-list-link {
    color: black !important;
    text-decoration: none !important;
}

.dog-list-name {
    padding: 10px;
}

.loading-img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 20px;
    border-radius: 10px;
}
