footer.footer.mt-auto.py-3
  .container
    span.text-muted
    | &copy; #[a(href='https://cabarruspets.com/') Cabarrus Pets Society 501(c)3]
    | &verbar;
    | This website&apos;s source code is available on #[a(href='https://github.com/cjburkey01/cps_node') GitHub].
