meta(charset='utf-8')/
meta(name='application-name' content='Cabarrus Pets Society')/
meta(name='description'
  content='The official Cabarrus Pets Society website')/
meta(name='author' content='Cabarrus Pets Society 501(c)3')/
meta(name='keywords'
  content='cabarrus, pets, society, adopt, dog, rescue')/
